#navbar {
	overflow: hidden;	
	background-image: url("Images/ban.png");
	color: whitesmoke;
  }
body{
	background-color: silver;
}
.content {
	padding: 16px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .conten{
	padding-top: 60px;
}